# Copier ce fichier en .env et remplir les valeurs
# Ne jamais committer le .env sur Git

DATATOURISME_API_KEY=votre_cle_api_ici
DB_HOST=localhost
DB_PORT=5434
DB_NAME=tourisme_train
DB_USER=postgres
DB_PASSWORD=votre_mot_de_passe
